<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/"><a href="/dashboard">Dashboard</a></a></li>
      {{#if loggedIn}}
        <li><button id="logout" class="btn-no-style">Logout</button></li>
      {{else}}
        <li><a href="/login">Login</a></li>
      {{/if}}
    </ul>
    <header>
      The Tech Blog
    </header>
  </nav>
  <main>
    {{{body}}}
  </main>
</body>
</html>