<section>
    <ul>
        {{#each posts}}
            <li>
                <h2>{{title}}</h2>
                <p>{{body}}</p>
            </li>
        {{/each}}
    </ul>

    <form id="new-post-form">
        <h3 class="header">
            Add Comment
        </h3>
        <div class="form-group">
            <label for="post-content">Comment</label>
            <textarea id="post-content" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add Comment</button>
    </form>
</section>